@model RailTicket.Models.TicketBooking

@{
    ViewData["Title"] = "TicketBookings";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>JavaScript example</title>
    <meta charSet="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>

        #Info {
            color: white;
        }

        body {
            font-family: Arial, sans-serif;
            background-image: url('https://rare-gallery.com/uploads/posts/4515806-people-urban-train-station-building-modern.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 1920px 950px;
        }
    </style>

</head>
<body>
    <div class="container" id="Info">
        <h2>Book Train</h2>
        <form asp-action="TicketBookings1" asp-controller="Sec" method="post">
           <div class="row">
                  <div class="form-group col-md-2">
                    <label asp-for="From_Train"></label>
                     <Select asp-for="From_Train" class="form-control">
                         <option value="101"> Select</option>
                         <option value="Bhopal">Bhopal </option>
                        <option value="Indore"> Indore</option>
                        <option value="Ujjain"> Ujjain </option> 
                       
                    </select>
                  </div>
            </div>
           <div class="row">
             <div class="form-group col-md-2">
                <label asp-for="To_Train"></label>
               <Select asp-for="To_Train" class="form-control">
                         <option value="101"> Select</option>
                         <option value="Ujjain">Ujjain </option>
                        <option value="Indore"> Indore</option>
                        <option value="Bhopal"> Bhopal </option> 
                       
                    </select>
             </div>
           </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label asp-for="Journey_Date"></label>
                    <input type="date"asp-for="Journey_Date" class="form-control" required />
                    <span asp-validation-for="Journey_Date" class="text-danger"></span>
                </div>


            </div>
     
            <br> <br> <br>
            <div class="form-group ">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
         </form>
       
    </div>
</body>

</html>